#personalInfo {
	background-color: white;
	color: $c-darkgray !important;

	.container .panel-heading{
		margin:5% auto 0px auto;
	}
	.container .panel-body{
		margin:0 auto 5% auto;
	}
}

#accountPanel .panel {
	margin-top:50px;
}
