.navbar {
	min-height: 80px;
	z-index: 99;

	.navbar-brand {
		img {
			@media (max-width: 410px) {
				height: 35px;
			}
		}
	}

	.navbar-header {
		img {
			margin-top:13px;
		}
	}
}


.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: transparent !important;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 35px;
	height: 3px;
	border-radius: 1px;
}

.navbar-inverse {
	background-color: transparent;
	position: absolute;
	width: 100%;
	border: none;

	background: rgba(0,0,0,0.5);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(19,19,19,0.25) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(19,19,19,0.25)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(19,19,19,0.25) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(19,19,19,0.25) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(19,19,19,0.25) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(19,19,19,0.25) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313', GradientType=0);

	.navbar-brand {
    	color: $c-milkwhite;
	}

	.nav {
		a {
			color: $c-lightgray !important;
			@media (max-width: 867px) {
				text-align: center;
			}
			&:hover {
				color: white !important;
			}
		}
		button {
		    background-color: $c-brightblue;
		}
		&.pull-right li  {
			margin: 0 10px;
			@media (max-width: 867px) {
				text-align: center;
			}
		}
	}
}

.jumbotronFade .container {
	opacity: 0.08;
	transition: 0.3s;
}

.alt-navbar {
	background-color: $c-alt-navbar !important;
	min-height: 40px !important;
}

.personal-message {
	height: 50px;
    line-height: 50px;
    text-align: center;

	p {
		color: $c-milkwhite;
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	span {
		color: $c-milkwhite;
		font-weight: bold;
	}
}


// Changed default Twitter Bootstrap classes to change collapse width
@media (max-width: 867px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

