.main {
    margin-top: 13%;
    margin-bottom: 13%;
    color: white;
}

.main-login {
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
}

.login-button {
    margin-top: 5px;
}

.login-register {
    text-align: center;
}

.form-group {
	color: black;
}