$c-brightblue: #368AFE;
$c-primaryblue: #366AB5;

$c-lightgray: #777777;
$c-red: #FF0000;

$c-green: #006B00;

$c-bg: #ecf0f1;

$test-var: #343435;
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: $c-bg;
    font-family: 'Oxygen', sans-serif;
}

.navbar-collapse button {
    background-color: $c-brightblue;
}

.text-muted {
    color: $c-lightgray;
}

.text-alert {
    color: $c-red;
}

.modal-success {
    color: $c-green;
    font-size:55px;
}
.modal-fail {
    color: $c-red;
    font-size:55px;
}

.word-wrap{
    word-wrap: break-word;
}

hr {
    width: 100%;
}

table {
    table-layout:fixed;
}

#sendModal textarea {
    resize: none;
}

#myModal, #decrypted, #verified, #details {
    margin-top: 10%;
}

#receiveModal .modal-body h4 {
    margin: 0;
}

.panel-primary .panel-heading {
    background-color: $c-primaryblue;
}

// .navbar-collapse ul li {
//     float: right;
//     margin: 0 10px;
// }





.main {
    margin-top: 20px;
}

h1.title {
    font-size: 4.5rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
}

.login-button {
    margin-top: 5px;
}

.login-register {
    text-align: center;
}

.validation-message {
    color: $c-red;
    font-size: 10pt;
}

.my-panel {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

a.signout-button:hover {
    background-color: transparent;
}