$c-brightblue: #368AFE;
$c-primaryblue: #366AB5;

$c-darkgray: #4A4A4A;
$c-gray: #777777;
$c-lightgray: #9B9B9B;
$c-alt-navbar: #222222;

$c-red: #FF0000;

$c-green: #006B00;

$c-bg: #ecf0f1;

$c-milkwhite: #F4F4F6;
