<div class="my-panel" style="word-wrap:break-word" ng-init="initView()">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Send or Receive Secure Data</h3></div>
        <div class="panel-body">


            <!-- Send -->
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#sendModal">
                <span class="glyphicon glyphicon-send"></span> Send
            </button>
            <div class="modal fade" id="sendModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><span class="glyphicon glyphicon-send"></span>Send</h4><br />
                            <span style="color: gray">Instantly send secure data to anyone</span>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group" ng-show="!isSignedIn">
                                    <label for="from">
                                        From:<br />
                                        <span style="color:grey;font-size:8pt">public key</span>
                                    </label>
                                    <input ng-blur="validateTransactionSender(tx.senderPublicKey)"
                                            ng-model="tx.senderPublicKey" type="text" class="form-control" id="from">
                                    <span style="color:red">{{invalidSender}}</span>
                                </div>
                                <div class="form-group" ng-show="!isSignedIn">
                                    <label for="to">
                                        To:<br />
                                        <span style="color:grey;font-size:8pt">public key</span>
                                    </label>
                                    <input ng-blur="validateTransactionReceiver(tx.receiverPublicKey)"
                                           ng-model="tx.receiverPublicKey" type="text" class="form-control" id="to">
                                    <span style="color:red">{{invalidReceiver}}</span>
                                </div>
                                <div class="form-group" ng-show="isSignedIn">
                                    <label for="to_u">
                                        To:<br />
                                        <span style="color:grey;font-size:8pt">username</span>
                                    </label>
                                    <input ng-blur="validateTransactionReceiverUsername(tx.receiverUsername)"
                                           ng-model="tx.receiverUsername" type="text" class="form-control" id="to_u">
                                    <div class="validation-message" ng-bind-html="invalidReceiver"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="data">
                                    Data:<br />
                                    <span style="color:grey;font-size:8pt">Any text</span>
                                </label>
                                <textarea required
                                        ng-model="tx.data" style="resize: none" class="form-control" rows="5" id="data"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="signature">
                                    Signature:<br />
                                    <span style="color:grey;font-size:8pt">private key</span>
                                </label>
                                <input ng-blur="validateTransactionSigningKey(tx.senderPrivateKey)"
                                        ng-model="tx.senderPrivateKey" ng-model="transaction.receiver" type="text" class="form-control" id="signature">
                                <span style="color:red">{{invalidSigningKey}}</span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-disabled="invalidSend || invalidRec || invalidSign"
                                    ng-click="signEncryptSend(isSignedIn)" type="button"
                                    data-toggle="modal" data-target="#myModal"
                                    class="btn btn-default">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Transaction Success / Fail-->
            <div class="modal fade" id="myModal" role="dialog" style="margin-top:10%">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body" align="center">
                            <h4>{{transactionStatusMessage}}</h4>
                            <span ng-show="transactionSent" style="color:green;font-size:40pt"
                                  class="glyphicon glyphicon-ok-circle"></span>
                            <span ng-show="!transactionSent" style="color:red;font-size:40pt"
                                  class="glyphicon glyphicon-remove-circle"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Receive -->
            <button ng-click="requestUserInfo()"  ng-show="isSignedIn" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#receiveModal">
                <span class="glyphicon glyphicon-share"></span> Share
            </button>
            <div class="modal fade" id="receiveModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><span class="glyphicon glyphicon-share"></span>Share</h4><br />
                            <span style="color: gray">Instantly receive secure data from any address</span>
                        </div>
                        <div class="modal-body">
                            <span style="font-size:12pt;font-weight:bold">Copy and share:</span><br />
                            <div class="alert alert-info" role="alert" style="word-wrap:break-word">
                                <span class="glyphicon glyphicon-copy"></span>
                                {{user.username}}
                            </div>
                            Copy and share your username with your sender via email, text, etc.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Generate key pair -->
            <button ng-show="!isSignedIn" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#generateModal">
                <span class="glyphicon glyphicon-download-alt"></span> Generate Key Pair
            </button>
            <div class="modal fade" id="generateModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><span class="glyphicon glyphicon-download-alt"></span>Generate Key Pair</h4><br />
                            <span style="color: gray">Download key pair to your file system</span>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-warning" role="alert">
                                <h3>Disclaimer</h3>
                                A new key pair will be generated to your file system. This is your duty to keep
                                your private key safe. Blockchain Explorer is not responsible for loss of generated keys
                                by any means.
                            </div>
                            <div class="alert alert-info" role="alert">
                                Alternatively, you can sign up to our system to store your public key only.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="downloadKeys()" type="button" class="btn btn-default" data-dismiss="modal">Generate</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="width:100%"/>
            <table ng-show="hidetxs" class="table table-striped" style="table-layout:fixed">
                <thead>
                <tr>
                    <th>From</th>
                    <th>Signature</th>
                    <th>Timestamp</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tx in txs">
                    <td style="word-wrap:break-word">{{tx.sender_public_key}}</td>
                    <td style="word-wrap:break-word">
                        {{tx.signature}}
                        <br />
                        <div align="right">
                            <button ng-disabled="invalidPrivateKey" ng-click="verifyTransaction(tx)"
                                    data-toggle="modal" data-target="#verified"
                                    type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-ok"></span> Verify
                            </button>
                        </div>
                    </td>
                    <td style="word-wrap:break-word">{{tx.timestamp}}</td>
                    <td style="word-wrap:break-word">
                        {{tx.data.iv + tx.data.ephem_public_key + tx.data.ciphertext + tx.data.mac}}
                        <br />
                        <div align="right">
                            <button ng-disabled="invalidPrivateKey && invalidPublicKey" ng-click="decryptData(tx.data)"
                                    data-toggle="modal" data-target="#decrypted"
                                    type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-lock"></span> Read
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Decrypt -->
            <div class="modal fade" id="decrypted" role="dialog" style="margin-top:10%">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><span class="glyphicon glyphicon-lock"></span>Decrypted data:</h4><br />
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-info" ng-bind-html="decrypted"></div>
                            <div class="form-group" ng-show="isSignedIn">
                                <label for="to_u_f">
                                    Forward To:<br />
                                    <span style="color:grey;font-size:8pt">username</span>
                                </label>
                                <input ng-blur="validateTransactionReceiverUsernameForward(txf.receiverUsername)"
                                       ng-model="txf.receiverUsername" type="text" class="form-control" id="to_u_f">
                                <div class="validation-message" ng-bind-html="invalidReceiverForward"></div><br />
                            </div>
                            <div class="form-group">
                                <label for="signature_f">
                                    Signature:<br />
                                    <span style="color:grey;font-size:8pt">private key</span>
                                </label>
                                <input ng-blur="validateTransactionSigningKeyForward(txf.senderPrivateKey)"
                                       ng-model="txf.senderPrivateKey" ng-model="transaction.receiver" type="text" class="form-control" id="signature_f">
                                <span style="color:red">{{invalidSigningKeyForward}}</span>
                            </div>
                            <div align="center">
                                <button ng-click="forward()"
                                        data-toggle="modal" data-target="#myModal"
                                        ng-disabled="invalidRecForward || invalidSignForward" type="button" class="btn btn-default" data-dismiss="modal">
                                    Forward
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Verify -->
            <div class="modal fade" id="verified" role="dialog" style="margin-top:10%">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div style="color:green;font-size:40pt" ng-show="verified && !invalidPrivateKey" align="center">
                                <span class="glyphicon glyphicon-ok"></span>
                                Valid Signature
                            </div>
                            <div style="color:red;font-size:40pt" ng-show="!verified && !invalidPrivateKey" align="center">
                                <span class="glyphicon glyphicon-remove"></span>
                                Invalid Signature
                            </div>
                            <div style="color:red;font-size:40pt" ng-show="invalidPrivateKey" align="center">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                                Unable to verify the transaction: bad private key.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="publicKey">Enter your private key:</label>
                <input ng-blur="validatePriv(privateKey)" ng-model="privateKey" type="text" class="form-control" id="privateKey">
                <span style="color:red">{{invalidPriv}}</span>
            </div>
            <div class="form-group" ng-show="!isSignedIn">
                <label for="publicKey">Enter your public key:</label>
                <input ng-blur="validatePub(publicKey)" ng-model="publicKey" type="text" class="form-control" id="publicKey">
                <span style="color:red">{{invalidPub}}</span>
            </div>
            <div align="right">
                <button ng-show="!hidetxs" ng-click="getTransactions()" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> Show Transactions
                </button>
            </div>
            <div align="right">
                <button ng-click="hideTransactions()" ng-show="hidetxs" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-close"></span> Hide Transactions
                </button>
            </div>
        </div>
    </div>
</div>