<nav class="navbar navbar-default" ng-init="initUserState(user)">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Blockchain Explorer</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active" ng-show="!isSignedIn"><a ui-sref="signup">Explorer</a></li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <button ng-click="signOut()" ng-show="isSignedIn" type="button" class="btn btn-primary navbar-btn">Sign Out</button>
                </li>
            </ul>
        </div>
    </div>
</nav>