<div class="container" ng-init="redirectIfSignedIn();canSignUp();">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Create your Account</h1>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">
                <div class="form-group">
                    <label for="first_name" class="control-label">First Name</label>
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input ng-model="user.first_name" type="text" class="form-control" name="username" id="first_name" placeholder="Enter your first name" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name" class="control-label">Last Name</label>
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input ng-model="user.last_name" type="text" class="form-control" name="username" id="last_name" placeholder="Enter your last name" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="organization" class="control-label">Organization</label>
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                            <input ng-model="user.organization" type="text" class="form-control" name="username" id="organization" placeholder="Enter your organization" />
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input ng-model="user.username" ng-blur="validateUsername(user.username)" type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
                        </div>
                        <div class="validation-message" ng-bind-html="incorrectUsername"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input ng-model="user.password" ng-blur="validatePassword(user.password)" type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                        </div>
                    </div>
                    <div class="validation-message" ng-bind-html="incorrectPassword"></div>
                </div>
                <div class="form-group">
                    <label for="confirm" class="control-label">Confirm Password</label>
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input ng-model="user.confirmation" ng-blur="confirmPassword(user.password, user.confirmation)" type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
                        </div>
                    </div>
                    <div class="validation-message">{{passwordsDoNotMatch}}</div>
                </div>
                <div class="form-group">
                    <button ng-disabled="!canContinue" ng-click="canSignUp()" data-toggle="modal" data-target="#signupModal" type="button" class="btn btn-primary btn-lg btn-block login-button">Continue</button>
                </div>
                <div class="login-register">
                    <a ui-sref="signin">Sign In</a>
                </div>
                <div class="validation-message">{{errorMessage}}</div>
            </form>
            <!-- Signup, generate key pair -->
            <div class="modal fade" id="signupModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Sign Up to Hyper Record</h4>
                            <br />
                            <span class="text-muted">Sign up to our system.</span>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-warning" role="alert">
                                <h3>Disclaimer</h3> A new key pair will be generated to your file system. This is your duty to keep your private key safe. Hyper Record is not responsible for loss of generated keys by any means.
                            </div>
                            <div class="alert alert-info" role="alert">
                                <h3>Note:</h3>
                                <b>TO DOWNLOAD THE KEYS POP-UP MUST BE ENABLED!</b>
                                <br /> Your username will serve as an alias to your public key. Share it with other Hyper Record members to get secure data.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="createUser(user)" type="button" class="btn btn-default" data-dismiss="modal">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
